<div class="main">
    <div class="player-details">
        <span class="player-name">Player Name: {{playerName}}</span>
        <span class="game-id">Game Id: {{gameId}}</span>
        <span class="next_turn">Next Turn: {{playerTurn}}</span>
    </div>
    <div class="player-two">
        <span>Player 2</span>
    </div>
    <div class="wrapper">
        <div id="left">
            <button class="oval-one" (click)="updatePits(13)">{{pitData[13]}}</button>
        </div>
        <div id="center">
            <table class="inner-table">
                <tr>
                    <td>
                        <button class="button" (click)="updatePits(12)">{{pitData[12]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(11)">{{pitData[11]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(10)">{{pitData[10]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(9)">{{pitData[9]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(8)">{{pitData[8]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(7)">{{pitData[7]}}</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button" (click)="updatePits(0)">{{pitData[0]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(1)">{{pitData[1]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(2)">{{pitData[2]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(3)">{{pitData[3]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(4)">{{pitData[4]}}</button>
                    </td>
                    <td>
                        <button class="button" (click)="updatePits(5)">{{pitData[5]}}</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="right">
            <button class="oval-two" (click)="updatePits(6)">{{pitData[6]}}</button>
        </div>
    </div>
    <div class="player-one">
        <span>Player 1</span>
    </div>
    <button color="accent" class="refresh-button" (click)="refreshGame()" mat-button *ngIf="!!gameId"
                  matSuffix mat-icon-button>
                  Refresh
     </button>
</div>